// GameDepot Color Scheme
$link-color: #2B6CB0;
$btn-primary-color: #38A169;
$base-button-color: #F56565;
$border-color: #2B6CB0;
$code-background-color: #FFF9E6;
$feedback-color: #F56565;
$search-background-color: #FFFEF2;
$sidebar-color: #F6F6F6;
$body-background-color: #FFFEF2;
$body-text-color: #2D3748;
$body-heading-color: #2D3748;