// GameDepot Color Scheme - Playful board game inspired
$body-background-color: #FFFEF2;
$sidebar-color: #2B6CB0;
$body-text-color: #2D3748;
$body-heading-color: #2D3748;
$link-color: #2B6CB0;
$nav-child-link-color: #F6F6F6;
$btn-primary-color: #38A169;
$base-button-color: #F56565;
$code-background-color: #ECC94B;
$border-color: #2B6CB0;
$table-background-color: #F6AD9E;